{% extends 'email/templates/default.twig' %}

{% block content %}
    <p>Binnen 7 dagen zullen volgende wedstrijden plaatsvinden.</p>

    <table border="1" style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; border-collapse: collapse">
        <thead>
            <tr>
                <th style="padding: 8px">Tegenstander</th>
                <th style="padding: 8px">Adres</th>
                <th style="padding: 8px">Datum</th>
                <th style="padding: 8px">Tijd</th>
                <th style="padding: 8px"></th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td style="padding: 8px">{{ game.competitor }}</td>
                    <td style="padding: 8px">{{ game.getAddress }}</td>
                    <td style="padding: 8px">{{ game.getStandardDatePlayedAt }}</td>
                    <td style="padding: 8px">{{ game.getTimePlayedAt }}</td>
                    <td style="padding: 8px"><a href="{{ baseUrl }}{{ urlFor('game.show', {seasonId: game.season.id, gameId: game.id}) }}">Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}